/* Big tablets to smaller laptop screen */
@media only screen and (max-width: 1200px) {
  html,
  body {
    font-size: 14px;
  }
  .work-section,
  .ww-section,
  .service-section {
    padding-top: 100px;
  }

  .contact {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  footer {
    padding-top: 30px;
  }
}
/* Smaller tablet to larger tablet screen */
@media only screen and (max-width: 1023px) {
  .about-section {
    margin-bottom: 80px;
  }
  .about-box img {
    width: 100%;
  }
}
@media only screen and (max-width: 963px) {
  .about-heading {
    font-size: 180%;
    text-align: start;
  }
}
@media only screen and (max-width: 780px) {
  .about-heading {
    font-size: 150%;
    text-align: start;
  }
  .section-heading {
    font-size: 200%;
  }
  .section-s-heading {
    font-size: 150%;
  }
}

/* Larger phone to smaller tablet screen */
@media only screen and (max-width: 767px) {
}

/* Smaller to larger mobile phones */
@media only screen and (max-width: 479px) {
}
